@charset "UTF-8";

* {
	box-sizing : border-box; /* 자동으로 border값까지 영역으로 잡아주는 아주 유용한 속성 */
	margin : 0; /* 바깥쪽 여백 0 */
	padding : 0;	/* 안쪽 여백 0 */
}

header{
	height : 80px;
	line-height : 80px;
	text-align : center;
	background-color : #800080; /* RGB */
	color : #ffffff; /* white */	
}

nav{
	height : 30px;
	line-height : 30px;	
	background-color : #400040; 		
}

nav a{
	text-decoration : none; /* 밑줄 없애기 */	
	color : #ffffff;	
	margin-left : 30px;
}

td a{
	text-decoration : none; /* 밑줄 없애기 */	
	color : #808080;		
}

section{
	height : 500px;	
	background-color : #fff0ff; /* RGB */
		
	padding  : 20px;
	
	overflow : auto; /* 스크롤바 자동 생성 */
}

section div{
	text-align : center;
	margin : 20px;
}	

section ol{ /* section ul{ */
	margin-left : 30px;
}

ol li{  /* ul li{ */
	height : 30px;
}

footer{
	height : 40px;
	line-height : 40px;
	text-align : center;
	background-color : #800080; /* RGB */
	color : #ffffff;	
}